<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->    
</head>

<body>
  <style>
    #image_preview img{
      height: 200px;
      width: 200px;
      margin-top: 30px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 10px;
      border-radius: 10px;
    }
    #image_preview input{
      width: 200px;
      margin: 10px;
     
    }
    .card{
      margin: 10px;
      box-shadow: black;
    }
    h2,h3{
      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: rgb(118, 122, 126);
    }
    
    
  </style>


<form action="{% url 'Homepage' %}" method="post" class="note-form" enctype="multipart/form-data">{% csrf_token %}



<div class="container rounded" style="margin-top: 10%; background-color: rgba(240, 248, 255, 0.678); padding: 4%;">

  
  <div>
    <div class="form-group d-flex justify-content-center">
      <h2> Number of Sertial to Embaded</h2>
    </div>
    <div class="form-group d-flex justify-content-center">
      <div class="col-auto">
        <input type="text" class="form-control" id="serialNum" placeholder="Number of Serials">
      </div>
      <div class="form-group">
        <input type="button" id="serialbtn" class="btn btn-primary btn-outline-info mb-3" value="Enter">
      </div>
    </div>
    <div class="serial">
      <div  class="form-group d-flex justify-content-center" >
        <h2> Enter Serial Number</h2>
      </div>
    </div>
    
    <div class="form-group d-flex justify-content-center row mb-4" id="serial_box_div" >

      
      
    </div>


  <div>
    <div class="form-group d-flex justify-content-center">
      <h2>Select Image(s)</h2>
    </div>
    <div class="form-group d-flex justify-content-center">
      <input  type="file" class="btn btn-lg btn-primary btn-outline-info mt-4 " id="upload_file" name="upload_file[]" onchange="preview_image();" multiple/>     
    </div>
    <div id="randon_all_div" class="form-group form-check float-sm-right m-3" style="transform: scale(1.5);  ">
      <input type="checkbox" class="form-check-input" name="randon_all" id="randon_all">
      <label class="form-check-label" for="exampleCheck1">Random All</label>
   </div>
  </div>


<div class=" row">
 <span id="image_preview" class="row p-3 ">
</span>

</div>

<div class="form-group my-4 d-flex justify-content-center">
  <input id="serial_height" type="text" class="form-control-sm" placeholder="Enter Serial Height">
</div>

<div style="margin-top: 40px;">
  <div class="form-group d-flex justify-content-center">
    <h2> Choose Output</h2>
  </div>
  <div class="form-group d-flex justify-content-center">
    <div class="form-check ml-3" >
      <input class="form-check-input" style=" transform: scale(1.5);" type="radio" name="radio" id="s-radio" >
      <label class="form-check-label" for="s-radio">
        Single File PDF
      </label>
    </div>
    <div class="form-check ml-3" >
      <input class="form-check-input" style=" transform: scale(1.5);" type="radio" name="radio" id="m-radio" >
      <label class="form-check-label" for="m-radio">
        Multipl File PDF
      </label>
    </div>
    <div class="form-check ml-3" >
      <input class="form-check-input" style=" transform: scale(1.5);" type="radio" name="radio" id="p-radio" >
      <label class="form-check-label" for="p-radio">
        Png
      </label>
    </div>
  </div>
</div>

<div style="margin-top: 40px;">
  <div class="form-group d-flex justify-content-center">
    <h2>Drive Selection</h2>
  </div>
  <div class="form-group d-flex justify-content-center">
  
    <div class="mx-3 my-2">
      <input  type="file" class="btn btn-lg btn-primary btn-outline-info  "  id="folder" webkitdirectory multiple/>     

    </div>

    
    
    
  </div>
</div>


<button type="submit" class="btn btn-primary btn-outline-primary float-right ">Submit</button>

	</div>
  



</form>






<!-- For Ajax -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<!----->


<script>
  $("#randon_all_div").hide();
  $(".serial").hide();
  
  $('.js-example-basic-multiple').select2({
    placeholder: 'Select Serial Number '

    
  })
  



function preview_image() 
{
 var total_file=document.getElementById("upload_file").files.length;
 $("#randon_all_div").show();
 for(var i=0;i<total_file;i++)
 {
   try{
    $('#image_preview').append("<div class="+"card p-4 ml-3 rounded"+" style="+"width: 18rem;"+"> <img  src='"+URL.createObjectURL(event.target.files[i])+"'> <input type='"+"text"+"'required name='"+"serial-"+i+"'' placeholder='"+"Serial Coordinates"+"' class='"+'form-control'+"'>        <input type="+"checkbox"+" class="+"form-check-input"+" name="+"random-"+i+" id="+"random-"+i+">   </div>");

   }
   catch(e){
     alert(e)
   }

 }
 
}
//$('#image_preview').append("<input type='"+text+"'required name='"+serial+"'' placeholder='"+Enter+"' class='"+form-control+"'>");

$( "#serialbtn" ).click(function() {
  
  var data = $("#serialNum").val();
  seiral = Math.floor(Math.random() * 10000);
  for (var i = 0; i < data; i++) {  

    $("#serial_select").append("<option>"+seiral+i+"</option>"); 
  }


});

$( "#serialbtn" ).click(function() {
  
  var data = $("#serialNum").val();
  $(".serial").show();

  try{
    for (var i = 0; i < data; i++) {  
  
      $("#serial_box_div").append("<div class="+"col-auto"+"><input type="+"text"+"name="+"serial-"+i+" class="+"form-control"+" id="+"serial_box"+" placeholder="+'Enter'+"> </div>"); 
    }
  }
  catch(e)
  {
    alert(e)
  }


});


</script>


</body>
</html>